body {
	background: #a7edd3;
  font-family: 'Open Sans';
}

#logo {
	padding: 10px 0px 20px 0px;
}

#about {
	border: 2px solid #b11116;
	border-left: none;
	border-right: none;
	font-size: 20px;
	color: #b11116;
	text-transform: uppercase;
}
#about #time {
	text-align: right;
}

h1 {
	border: 2px solid #b11116;
	border-left: none;
	border-right: none;
	color: #b11116;
	text-transform: uppercase;
	text-align: center;
}

#kjerneverdier li {
	float: left;
	margin: 0px 30px 0px 10px;
	color: #b11116;
	text-transform: uppercase;
	font-weight: bold;
	list-style-type: circle;
	list-style-image: url('/img/dot-15.png');
height: 40px;
font-size: 20px;
}

#kjerneverdier {
margin-top: -20px;
	text-align: center;
}
p,
ol {
	clear: both;
}