body {
	background: #a7edd3;
  font-family: 'Open Sans';
 font-size: 16px;
}

#logo {
	padding: 10px 0px 20px 0px;
}

#about {
	border: 2px solid #b11116;
	border-left: none;
	border-right: none;
	font-size: 20px;
	color: #b11116;
	text-transform: uppercase;
}
#about #time {
	text-align: right;
}

h1 {
	border: 2px solid #b11116;
	border-left: none;
	border-right: none;
	color: #b11116;
	text-transform: uppercase;
	text-align: center;
        margin-top: 50px;
}

#kjerneverdier li {
	float: left;
	margin: 0px 30px 0px 10px;
	color: #b11116;
	text-transform: uppercase;
	font-weight: bold;
	list-style-type: circle;
	list-style-image: url('/img/dot-15.png');
height: 40px;
font-size: 20px;
}

ol.redbull li {
	margin: 0px 30px 0px 10px;
	color: #b11116;
	font-weight: bold;
	list-style-type: circle;
	list-style-image: url('/img/dot-15.png');
font-size: 26px;
}
ol.redbull li p {
 color: #000;
 font-weight: normal;
 font-size: 16px;
}

#kjerneverdier {
margin-top: -20px;
	text-align: center;
}
p,
ol {
	clear: both;
}
.kuler {
 margin-top: -10px;
 width: 100%;
 padding-top: 35%;
}
#kule1 {
background: url('/img/kuler-1.png') no-repeat;
background-size: contain;
}
#kule2 {
background: url('/img/kuler-2.png') no-repeat;
background-size: contain;
}
