{% extends "layout.twig.html" %}

{% block content %}
<h1>DEMO2014</h1>

<!--<div class="kuler" id="kule2"></div> -->

<p></p>
<H2>Midt-Norsk Ungdomskonferanse. <br>Grunnlovsjubileum og Demokrati</h2></p>
<p>
<b>Foreløpig kjøreplan for konferansen:</b><br><br>
<b>Torsdag 26.juni</b>
<br>11.00 – oppmøte og håndmat/kaffe /te
<br>11.30 – oppstart konferansen – UB og UFU ønsker velkommen
<br>11.35 – Ice breakers
<br>12.45 – foredrag
<br>13.45 – foredrag
<br>14.15 - foredrag

<br>15.30 – Grilling utenfor Rockheim

<br>16.15 – Vi går fra Rockheim til Dokkhuset 

<br>17.00 – Dokkhuset Gullsekken (ferdig 18.00?)

<br>19.30 ISAK – UKM forestilling

<br>22.00/23.00 ?  Avgang fra ISAK til Chappa
<br>

<b>Fredag 27. Juni</b> 

<br>
10.00 – Mark Edwards – Fordrag
<br>
11.15 – workshop/arbeidsgrupper<br>
12.30 – lunsj
13.30 – paneldebatt<br>

15.15 – oppsummering/veien videre<br>
16.00 – konferansen avsluttes<br>

<p>MER INFO KOMMER!</p>

<p>
Overordnet mål er å involvere ungdom som medskapere av eget fritidskulturliv og spre arrangørkompetanse blant ungdom. Kretsens arbeid drives gjennom ungdomsinitiativ hvor ungdomsstyret ønsker å skape felles opplevelser og et godt kulturtilbud for ungdom under 18 år.

</p>
<ol class="redbull">
<li>
<p>
<label>TID:</label> Trondheim 26-27 juni 2014
</p>
</li>
<li>
<p>
<label>STED:</label> Rockheim, Trondheim.
</p>
</li>
<li>
<p>
<label>ARRANGØR:</label> Ungdommens bystyre og ungdommens fylkesutvalg
</p>
</li>

</ol>
{% endblock %}
