{% extends "layout.twig.html" %}

{% block content %}
	<h1>Nasjonalt fagseminar</h1>
<!--	<div class="kuler" id="kule2"></div> -->
	

<p>
	
<h2><a href="http://bestilling.kulturskoleradet.no/index.php?tilbake=91&kurs_handling=kjop&id=298"target="_blank">P Å M E L D I N G </a>
</h2>
<h2><a href="http://ukm.no" target="_blank"> P R O G R A M</a>
</h2></p>
	
	<p><br>
	<H2>En arena for opplevelser, utvikling og samhandling</h2></p>
	<p>
		Under UNG 2014 arrangeres det et fagseminar rettet mot kulturbyråkrater,
		skoleledere, kulturpolitikere, kulturskoleansatte, ungdomsarbeidere, dirigenter og
		tillitsvalgte i offentlig og frivillig kulturliv.
	</p>
	<ol class="redbull">
		<li>
			<p>
				<label>TID:</label> Onsdag 25.juni kl. 11.00 – fredag 27. juni kl. 15:00
			</p>
		</li>
		<li>
			<p>
				<label>STED:</label>  Royal Garden og Clarion Brattøra hotell, Trondheim.
			</p>
		</li>
		<li>
			<p>
				<label>ARRANGØR:</label>  UKM Norge, Norsk Kulturskoleråd, DKS, KKS og NMF.
			</p>
		</li>
		<li>
			<p>
				<label>PÅMELDINGSFRIST:</label>  10.mai 2014.
			</p>
		</li>
		<li>
			<p>
				<label>PROGRAM:</label>  Foredrag, parallellseminarer, workshops forestillinger, debatt, konserter og opplevelser.
			</p>
		</li>
		<li>
			<p>
				<label>PRISER:</label>  Konferanse og bespisning 2.150,-.
				Overnatting pr. natt i enkeltrom 1.050,-.
			</p>
				
		</li>
	</ol>
	
	<h2>Noen utvalgte foredrag</h2>
	<ol class="redbull">
		<li>
			<p>
				<label>OLE ROBERT REITAN</label>
				adm dir Rema 1000: «Kultur- og lagbygging»
			</p>
		</li>
		<li>
			<p>
				<label>EIRIK NEWTH</label>
				astrofysiker og forfatter: «Med hodet i nettskyen» 
			</p>
		</li>
		<li>
			<p>
				<label>GUNNAR BJURSELL</label>
				professor i molekylærbiologi: «Kulturaktivitet som motor i hjernens utvikling»
			</p>
		</li>
		<li>
			<p>
				<label>KAREN ESPELUND</label>
				fylkesdirektør: «Hvordan har kulturutredningen 2014 blitt fulgt opp?»
			</p>
		</li>
		<li>
			<p>
				<label>MARK EDWARDS</label>
				fotograf og globetrotter: «Hard Rain, cultural sustainability»
			</p>
		</li>
	</ol>
	<h2>Noen utvalgte parallellseminar</h2>
	<ol class="redbull">
		<li>
			<p>Medbestemmelse, mestring og motivasjon</p>
		</li>
		<li>
			<p>Talentutvikling</p>
		</li>
		<li>
			<p>Born to play</p>
		</li>
		<li>
			<p>Bodøpiloten</p>
		</li>
		<li>
			<p>DKS i samspill med grunnskole, kulturskole og samfunn</p>
		</li>

		<li>
			<p>Formidlingens kunst</p>
		</li>
		<li>
			<p>Korps og SFO</p>
		</li>
		<li>
			<p>lokalt samspill</p>
		</li>
	</ol>
	<h2>Kulturorientering blir en del av programmet</h2>
	<ol class="redbull">
	<li>
		<p>UKM-forestilling i Olavshallen
		</p>
	</li>
	<li>
		<p>NM for korps og andre korpskonserter</p>
	</li>
	<li>
		<p>Ung i Norden</p>
	</li>
	<li>
		<p>Gullsekken</p>
	</li>
	<li>
		<p>Art camp & Norsk kulturskolefestival
	</p>
	</li>
	<li><p>
	Festivalkro med husorkester og gjesteartister
		</p>
	</li>
	<li>
		<p>DKS forestilling</p>
	</li>
</ol>
{% endblock %}
