{% extends "layout.twig.html" %}

{% block content %}

			<h3 align="center">Mer om:</h3>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1" id="readmorecontainer">
				<a class="btn btn-default" target="_blank" href="http://ukm.no/ukm-festivalen-2014/">UKM-festivalen</a>
				<a class="btn btn-default" target="_blank" href="http://www.musikkorps.no/no/festival_2014/">Landsfestival for musikkorps</a>
				<a class="btn btn-default" target="_blank" href="http://www.musikkorps.no/no/festival_2014/nm/">NM for skolekorps</a>
				<a class="btn btn-default" target="_blank" href="http://www.kulturskoleradet.no/nyheter/norsk-kulturskolefestival-fodes-i-2014-ma-oppleves/">Norsk kulturskolefestival</a>
				<a class="btn btn-default" href="/nasjonalt-fagseminar/">Nasjonalt fagseminar</a>
			</div>
			<div class="clearfix"></div>
			


	<h1>12 000 ungdommer inntar byen!</h1>
	<div class="kuler" id="kule1"></div>
	{% embed "ungdommer.twig.html" %}{% endembed %}
	
{% endblock %}