{% extends "layout.twig.html" %}

{% block content %}
<h1>12 000 ungdommer inntar byen!</h1>
<p class="lead">Massemønstringen <b>UNG 2014</b> er en overbygning for 7 festivaler og arrangementer med kjerneverdiene:
<ol class="list-unstyled">
	<li><p>Ungdom</p></li>
	<li><p>Kultur</p></li>
	<li><p>Fellesskap</p></li>
	<li><p>Medvirkning</p></li>
</ol>

<p>
	UNG 2014 er ungdomskulturens feiring av 200-års jubileet for grunnloven. Målet er å løfte fram unge kulturutøvere, vise det arbeidet som gjøres for barn og unge på kulturfeltet, skape en arena for debatt og faglig utveksling og stimul- ere til samhandling på tvers av uttrykk.
</p>
{% endblock %}