{% spaceless %}
<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}Ung 2014{% endblock %}</title>
		{% block opengraph %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	
		<link rel="canonical" href="http://ung2014.no" />
		<meta property="og:title" content="Ung 2014"/>
		<meta property="og:description" content="Massemønstringen UNG 2014 er en overbygning for 7 festivaler og arrangementer med kjerneverdiene ungdom, kultur, fellesskap og medvirkning. 24.-29. juni"/>
		<meta property="og:type" content="article" />
		<meta property="og:image" content="http://ung2014.no/img/ung2014.png" />
		<meta property="og:url" content="http://ung2014.no" />
		<meta property="og:site_name" content="UNG 2014" />
		<meta property="fb:admins" content="597605662" />

	
		<link rel="icon" type="image/png" href="/img/favicon.png">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" href="/css/ung2014.css">

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script>{% block script %}{% endblock %}</script>
		<style type="text/css">{% block style %}{% endblock %}</style>
		
		<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-46216680-10"]);_gaq.push(["_trackPageview"]);(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=("https:"==document.location.protocol?"https://":"http://")+"stats.g.doubleclick.net/dc.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()</script>
	</head>
	
	<body>
		<div class="container">
			<div class="col-xs-6 col-xs-offset-3" id="logo">
				<a href="/"><img src="/img/ung2014.png" style="max-width: 100%;" /></a>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-12" id="about">
				<div class="col-xs-12 col-sm-6 pull-left" id="place">
				Trondheim
				</div>
				<div class="col-xs-12 col-sm-6 pull-right" id="time">
				24. - 29. Juni
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div id="content">
			{% block content %}{% endblock %}
			</div>
			
			<footer>
				
			<h1>Arrangører</h1>
			<div id="logoer">
				<a href="http://stfk.no" target="_blank">
					<img class="col-xs-6 col-sm-4 col-md-3 img img-circle" src="/img/logoer/logo-stfk.png" />
				</a>
				<a href="http://http://kulturradet.no/den-kulturelle-skolesekken" target="_blank">
					<img class="col-xs-6 col-sm-4 col-md-3 img img-circle" src="/img/logoer/logo-dks.png" />
				</a>
				<a href="http://ukm.no" target="_blank">
					<img class="col-xs-6 col-sm-4 col-md-3 img img-circle" src="/img/logoer/logo-ukm.png" />
				</a>
				<a href="http://www.kunstkultursenteret.no/" target="_blank">
					<img class="col-xs-6 col-sm-4 col-md-3 img img-circle" src="/img/logoer/logo-kunstogkultursenteret.png" />
				</a>
				<a href="http://trondheimkommune.no" target="_blank">
					<img class="col-xs-6 col-sm-4 col-md-3 img img-circle" src="/img/logoer/logo-trondheim.png" />
				</a>
				<a href="http://kulturskoleradet.no" target="_blank">
					<img class="col-xs-6 col-sm-4 col-md-3 img img-circle" src="/img/logoer/logo-kulturskoleradet.png" />
				</a>
				<a href="http://www.musikkorps.no/" target="_blank">
					<img class="col-xs-6 col-sm-4 col-md-3 img img-circle" src="/img/logoer/logo-nmf.png" />
				</a>
				<a href="http://www.stortinget.no/no/Grunnlovsjubileet/" target="_blank">
					<img class="col-xs-6 col-sm-4 col-md-3 img img-circle" src="/img/logoer/logo-grunnlov.png" />
				</a>
			</div>

		</div>
	</body>
</html>
{% endspaceless %}