{% extends "layout.twig.html" %}

{% block content %}
<h1>Trønderjam</h1>

<!--<div class="kuler" id="kule2"></div> -->

<p></p>
<H2>Fredag 20.juni på Rockheim</h2></p>
<p>
Trønderjam arrangeres fredag 20.juni på Rockheim av Trondheim krets 1 og 2 for fritidsklubber.

<p>MER INFO KOMMER!</p>

<p>
Overordnet mål er å involvere ungdom som medskapere av eget fritidskulturliv og spre arrangørkompetanse blant ungdom. Kretsens arbeid drives gjennom ungdomsinitiativ hvor ungdomsstyret ønsker å skape felles opplevelser og et godt kulturtilbud for ungdom under 18 år.

</p>
<ol class="redbull">
<li>
<p>
<label>TID:</label> Fredag 20. juni
</p>
</li>
<li>
<p>
<label>STED:</label> Rockheim, Trondheim.
</p>
</li>
<li>
<p>
<label>ARRANGØR:</label> Trondheim krets 1 og 2 for fritidsklubber
</p>
</li>

</ol>
{% endblock %}
